
<mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-label>Month and Year</mat-label>
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dp" [formControl]="date" readonly>
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler($event)"
                    (monthSelected)="chosenMonthHandler($event, dp)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button (click)="onCreateClick()">Create F200</button>
</div>
